// variables for all fonts, font-sizes and font-weights
$font-all: Roboto;
$f-bold: 700;
$f-med: 500;
$font-reg: 400;
$font-thin: 100;
$font-thin-size: 42px;
$f-p: 16.8px;
$f-button-size: 12.6px;