.back-psd {
    background-color: #f6f7fa;
    width: 100%;
    background: linear-gradient(#f6f7fa 52%, white 100%);
}

.psd {
    padding-top: 71px;
    h1 {
        font-size: $font-thin-size;
        font-weight: $font-thin;
        color: $primary-color;
        text-align: center;
    };
    .p1 {
        font-size: $f-button-size;
        font-weight: $font-reg;
        color: $secondary-color;
        text-align: center;
        margin-top: 31px;
    };
    .mockup {
        text-align: center;
        padding-top: 60px;
        padding-bottom: 110px;
        position: relative;
        .mockup-text {
            position: absolute;
            top: 124px;
            padding: 0px 80px;
            margin: 0px;
            @media screen and (max-width: $break-med){
                padding: 0px;
                margin-top: -10px;
            };
            @media screen and (max-width: $break-sm){
                padding: 0px;
                margin-top: -28px;
            }; 
            @media screen and (max-width: $break-xs){
                padding: 0px;
                margin-top: -38px;
            };   
        };
        .first-row-h2 {
            font-size: $f-p;
            font-weight: $f-bold;
            text-align: left;
            padding-bottom: 10px;
            border-bottom: 2px solid $button;
            margin-right: 20px;
        };
        .first-row-h2::after{
            content: '';
            display: inline-block;
            width: 25px;
            height: 25px;
            float: right;
            margin: 15px 0;
            border-radius: 50px;
            background-color: $button;
            box-shadow: 0px 0px 0px 10px #5584ff94;
            @media screen and (max-width: $break-med){
                margin: 15px -15px;
            };
         };
        .first-row-p {
            font-size: $f-button-size;
            font-weight: $font-reg;
            text-align: left;
            padding: 0px;
            color: $secondary-color;
        };
        .second-row-h2 {
            font-size: $f-p;
            font-weight: $f-bold;
            text-align: right;
            margin-top: 206px;
            padding-bottom: 10px;
            border-bottom: 2px solid $button;
            margin-left: 20px;
            @media screen and (max-width: $break-med){
                margin-top: 168px;
            };   
            @media screen and (max-width: $break-med){
                margin-top: 126px;
            }; 
        };
        .second-row-h2::after{
            content: '';
            display: inline-block;
            width: 25px;
            height: 25px;
            float: left;
            margin: 15px 0;
            border-radius: 50px;
            background-color: $button;
            box-shadow: 0px 0px 0px 10px #5584ff94;
            @media screen and (max-width: $break-med){
                margin: 15px -15px;
            };
         };
        .second-row-p {
            font-size: $f-button-size;
            font-weight: $font-reg;
            text-align: right;
            float: right;
            color: $secondary-color;
            padding: 0px;
            @media screen and (max-width: $break-med){
                float: none;
            };   
        };
    };
    .pricing {
        text-align: center;
        padding-bottom: 73px;
    };
    .p2 {
        font-size: $f-button-size;
        font-weight: $font-reg;
        color: $secondary-color;
        padding: 105px 164px 47px;
        @media screen and (max-width: $break-med){
            padding: 109px 0px 47px;
        };
    };
    .join {
        width: 142px;
        border-radius: $button-radius;
        background-color: $button;
        color: white;
        cursor: pointer;
        font-size: $f-button-size;
        margin: 0px 22px;
    };
    .lines {
        position: absolute;
        bottom: 70px;
        left: 0px;
        display: inline-flex;
        hr {
            width: 160px;
        }
        .hr1 {
            margin-right: 0px;
        };
        .hr2 {
            margin-left: 0px;
        };
    };
    .plans {
        margin: 0px;
    };
    .col-top-m {
        box-shadow: 0px 0px 20px 30px #f1f2f3;
        padding: 32px 0px;
        margin: 0px 45.5px;
        @media screen and (max-width: $break-med){
            margin-top: 80px;
            padding: 50px 0px;
        };
    }
    .plans h3 {
        width: 100px;
        font-size: 50.4px;
        font-weight: $f-bold;
        color: $primary-color;
    };
    .plans h4 {
        margin-bottom: 38px;
        color: $primary-color;
        font-weight: $font-reg;
        font-size: $f-p;
    };
    .amount {
        display: inline-flex;
    };
    .h51, .h52, .h53 {
        font-size: 28.01px;
        font-weight: $f-bold;
        color: $primary-color;
        width: 18px;
        height: 26px;
        margin-top: 19px;
        margin-bottom: 0px;
    };
    .plans span {
        color: $secondary-color;
        font-weight: $font-reg;
        font-size: $f-p;
    };
    ul {
        clear: both;
        padding-left: 0
    }
    li {
        font-size: $f-button-size;
        color: $secondary-color;
        list-style: none;
        line-height: 13px;
        margin-top: 13px;
    };
    .yes:before {
        content: '';
        display: inline-block;
        height: 16px;
        width: 16px;    
        background-image: url(../images/checked.png);
        background-repeat: no-repeat;
        background-size: 100%;
        margin-left: -10px;
        margin-right: 10px;
    };
    .no:before {
        content: '';
        display: inline-block;
        height: 16px;
        width: 16px;    
        background-image: url(../images/unchecked.png);
        background-repeat: no-repeat;
        background-size: 100%;
        margin-left: -10px;
        margin-right: 10px;
    }
}
